h3, p, .input-item {
    font-family: Poppins, sans-serif;
    font-style: normal;
}

h3 {
    font-size: 20px;
}

p {
    font-size: 16px;
    color: hsla(0, 0%, 45%, 1);
}

.termofservice {
    font-size: 12px;
}

a {
    color: hsla(174, 62%, 47%, 1);
}

::placeholder {
    color: hsla(0, 0%, 45%, 1);
}

.input-item {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
}

.input-container {
    display: flex;
    gap: 24px;
}

.main {
    display: flex;
    padding: 140px; 
    gap: 100px;
    background-color: rgb(240, 246, 245);
}

.form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 2rem;
    border-radius: 6px;
    background: #FFF;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

input {
    padding: 10px;
}

select {
    padding: 10px;
}

button {
    padding: 10px;
}

label {
    margin-bottom: 0.5rem;
}

.input-box {
    position: relative;
    margin-bottom: 2rem;
}

.input-box input {
    position: absolute;
    width: 94%
}

img {
    position: absolute;
    width: 15px;
    right: 4px;
    top:12px;
}

button {
    color: white; 
    background-color: hsla(174, 62%, 47%, 1); 
    border: none;
}


@media (min-width: 327px) and (max-width: 999px) {
    .form {
        display: flex;
        flex-direction: column;
    }

    .input-container {
        flex-direction: column;
    }

    .main {
        flex-direction: column;
        padding: 42px;
    }
}


